@import "tailwindcss";

@theme {
  --font-sans: Inter, system-ui, sans-serif;

  --color-valentine-red: #e31b23;
  --color-soft-pink: #ffe4e1;
  --color-deep-pink: #ff1493;
}

@layer base {
  body {
    @apply antialiased overflow-hidden h-screen bg-black;
  }
}

.particle {
  pointer-events: none;
}